{{> navbar}}
<div class="row justify-content-center">
  <div class="col-md-12 text-center mx-auto">
    <p class="display-4">NADA ENCONTRADO!</p>
    <img src="/img/404.png" class="img-thumbnail img-responsive" alt="error 404">
  </div>
</div>
<div class="row">
  <div class="col-md-7 mx-auto">
    {{> backhome}}
  </div>
</div>

