{{> navbar}}
<div class="row justify-content-center">
  <div class="col-md-12 text-center mx-auto">
    <p class="display-4">ERROR 500!</p>
    <img src="/img/500.jpg" class="img-thumbnail img-responsive" alt="error 404">
    <h3 class="mt-4">HUBO UN PEQUEÑO ERROR EN EL SERVIDOR, VUELVA AL INICIO Y REINTENTE POR FAVOR</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-7 mx-auto">
    {{> backhome}}
  </div>
</div>
