<div class="row justify-content-center mb-5">
  <div class="col-md-12 mx-auto">
    <a href="/" class="btn btn-outline-success mt-3 btn-block"><i class="fas fa-fw fa-home fa-2x"></i><h5>VOLVER AL INICIO DEL SITIO</h5></a>
  </div>
</div>