 <header class="my-2">
    <h1 class="title-section text-center">AUTOMOTORA "PARRA CARS"</h1>
    <p class="text-center">
      Bienvenido a Automotora "PARRA CARS", aquí encontrarás todo tipo de vehiculos, para la venta.
    </p>
</header>